.App {
  text-align: center;
}

.landing-page {
  display: flex;
}

.human-anatomy-container {
  flex-grow: 2;
  justify-content: middle;
  margin: 0;
  /* position: relative; */
  /* top: 15%;
  left: 30%; */
}

.tooltip-container {
  width: 50%;
  flex-grow: 1;
  margin: auto;
}

.tooltip {
  padding: 20px;
  height: 100%;
}

map {
  cursor: pointer;
}

#body-image-color {
  position: absolute;
  top: 0;
  left: 25%;
  opacity: 0;
}

/* Tooltip */
.tooltip-container {
  width: 50%;
}
